@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

._container {
  max-width: 1198px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

._ibg {
  position: relative; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50; }
  .header .header_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .header .header__menu :hover {
    color: #F06C00; }
  .header .menu {
    padding: 5px 0; }
  .header .menu__list {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .menu__item:not(:last-child) {
    margin: 0 30px 0 0; }
  .header .menu__link {
    font-size: 12px;
    line-height: 171%;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #191919;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s; }
    @media (max-width: 700px) {
      .header .menu__link {
        font-size: 18px; } }

.main .work .work__text {
  background-color: #F6F6F6; }

.main .work .text__container {
  max-width: 516px; }

.main .work .text {
  margin: 100px 0 0 0;
  padding: 100px 0;
  text-align: center; }
  .main .work .text .title {
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #171717;
    padding-bottom: 30px; }
  .main .work .text .subtitle {
    font-family: 'Nunito Sans';
    font-size: 18px;
    line-height: calc(28/14*100%);
    font-weight: 400;
    letter-spacing: 0.005em;
    color: #787878; }

.main .work .work__icon {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); }

.main .work .icon {
  position: relative;
  padding: 0 0 85% 0; }
  .main .work .icon .grid__block img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover; }

.footer {
  background-color: #000000; }

.footer-container__body {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-container__body--rights {
  max-width: 225px;
  margin-right: calc(246/1173*100%); }

.body--title {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #ffffff;
  padding-bottom: 27px; }

.body--subtitle {
  font-family: 'Nunito Sans';
  font-size: 15px;
  line-height: calc(24/14*100%);
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #bcbcbc; }

.footer-container__body--connection {
  max-width: 154px;
  margin-right: calc(145/1173*100%); }

.body--connection {
  font-family: 'Nunito Sans';
  font-size: 15px;
  line-height: calc(24/14*100%);
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #bcbcbc; }

.footer-container__body--about {
  margin-right: calc(45/1173*100%); }

.menu--link {
  font-family: 'Nunito Sans';
  font-size: 15px;
  line-height: calc(24/14*100%);
  font-weight: 400;
  letter-spacing: 0.005em;
  color: #bcbcbc; }

.footer-container__body--news {
  margin-right: calc(135/1173*100%); }
